@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  height: 64px; /* Add 'px' unit */
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.hero {
  height: 100vh; /* 'lvh' changed to 'vh' for proper viewport height */
  background-color: chartreuse;
}

.footer {
  display: flex;
  height: 64px; /* Add 'px' unit */
  justify-content: center;
  align-items: center;
  background-color: brown;
}

/* Portfolio styles */
.portfolio {
  padding: 2rem; /* 32px padding */
  background-color: #5410d4;
}

.portfolio h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.portfolio-item {
  background-color: rgb(37, 223, 20);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.portfolio-item p {
  color: #ec0d0d;
}

